.none {
  display: none !important;
}
/* ######################### */
/* Header */
header {
  display: flex;
  min-height: 60px;
  background-color: #fff;
  justify-content: center;
  position: relative;
  z-index: 10000;
}

.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: inherit;
  background-color: #ffffff;
  z-index: 100;
}

#btn_menu {
  display: inline-block;
  width: 22px;
  height: 18px;
  background-image: url("../assets/btn-open.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.menu_wrapper {
  display: none;
  z-index: 100;
}

.header_menu {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  padding: 20px 0 42px;
}

.header_menu ul {
  list-style: none;
}

.menu ul {
  display: flex;
  flex-flow: column;
  gap: 25px;
}

.menu a {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* Social */
.menu_social {
  display: flex;
  gap: 45px;
  margin-top: 41px;
}

.menu_social-fb {
  width: 7.52px;
  height: 17px;
}
.menu_social-ig {
  width: 17px;
  height: 17px;
}
.menu_social-tw {
  width: 16.08px;
  height: 12.87px;
}

/* Open */
.open {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.open #btn_menu {
  background-image: url("../assets/btn-close.png");
}

.open .menu_wrapper {
  display: flex;
  position: absolute;
  height: 110vh;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 100;
}

/* ######################### */
/* Hero */
.hero {
  position: relative;
}

.hero_item {
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.hero_image {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero_content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-flow: column;
  gap: 21px;
}

.hero .title {
  color: var(--orange);
  max-width: 60%;
}

.hero_link {
  display: inline-block;
  width: fit-content;
  background-color: var(--dark-gray);
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding: 8px 17px;
  cursor: pointer;
}

.hero_dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.hero_dots span {
  background-color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.hero_dots span.details {
  background-color: var(--orange);
}

/* ######################### */
/* About */
.about {
  padding: 54px 0 34px;
}

.about_wrapper {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.about_image img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ######################### */
/* Drop */
.secDrop {
  background-image: url("../assets/bg-drop.png");
  background-size: cover;
  background-position: center;
  padding: 54px 0;
}

.secDrop > .container {
  gap: 44px;
}

.dropList {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 40px;
}

.dropItem p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.dropItem_label {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid var(--orange);
  padding: 0 5px 30px;
  margin: 0;
  cursor: pointer;
}

.dropItem_icon {
  display: inline-block;
  background-image: url("../assets/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 12px;
  margin-left: auto;
  transition: 0.5s;
}

.dropItem_content {
  display: none;
}

/* Open */
.drop_open .dropItem_label {
  border-bottom: none;
}

.drop_open .dropItem_icon {
  transform: rotateX(180deg);
}

/* ######################### */
/* Subscription */
.subscription {
  background-color: var(--orange);
  padding: 44px 0 53px;
}

.subscription_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

/* */
.subscription_titles {
  width: 100%;
  margin-bottom: 20px;
}

.subscription_subTitle {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  white-space: nowrap;
}
.subscription_title {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  white-space: nowrap;
}

/* */
.subscription_form {
  width: 100%;
  display: flex;
}

.subscription_input {
  display: block;
  flex: 1;
  width: 50%;
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 12px 15px 10px;
  font-size: 1rem;
  line-height: 1rem;
}

.subscription_input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.subscription_input:focus {
  outline: none;
}

.subscription_btn {
  display: block;
  flex: 1;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--orange);
  cursor: pointer;
}

/* ######################### */
/* Contact */
.contact {
  padding: 50px 0 40px;
}

.contact_title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.contact_wrapper {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.contact_form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 21px;
}

.contact_form_group {
  display: flex;
}

.contact input,
.contact textarea {
  width: 100% !important;
  padding: 12px 15px;
  border: 1px solid var(--dark-gray);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.contact input::placeholder,
.contact textarea::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.contact textarea {
  height: 143px !important;
}

.contact_form_btn {
  margin-left: auto;
}

/* ######################### */
/* Footer */
footer {
  background-color: var(--dark-gray);
  padding: 47px 43px 70px;
}

.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

/* Image */
.footer_image {
  width: 79px;
}

/* Menu */
.footer_menu {
  list-style: none;
}
.footer_menu a {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 4px;
  text-decoration: none;
  display: inline-block;
}

/* Social networks */
.footer_social {
  display: flex;
  gap: 45px;
}
.footer_social-fb {
  width: 8.08px;
  height: 18.28px;
}
.footer_social-ig {
  width: 18.28px;
  height: 18.28px;
}
.footer_social-tw {
  width: 17.29px;
  height: 13.83px;
}

/* ################################ */
/* ################################ */
/* Tablet */
@media (min-width: 519px) {
  /* ######################### */
  /* Footer */
  .footer_wrapper {
    grid-template-areas:
      "image menu"
      "image menu"
      "image social";
  }

  .footer_image {
    grid-area: image;
    width: 90%;
    max-width: 200px;
  }

  .footer_menu {
    grid-area: menu;
  }

  .footer_social {
    grid-area: social;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 10px;
  }
}

@media (min-width: 715px) {
  /* ######################### */
  /* About */
  .about_wrapper {
    flex-flow: row;
    align-items: center;
  }

  .about_wrapper > div {
    width: 50%;
    flex: 1;
  }

  /* ######################### */
  /* Drop */
  .secDrop .container {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
  .secDrop_content,
  .dropList {
    flex: 1;
    width: 50%;
  }
}

@media (min-width: 750px) {
  /* ######################### */
  /* Subscription */
  .subscription_wrapper {
    flex-flow: row;
    align-items: flex-end;
    max-width: 690px;
    margin: 0 auto;
    gap: 10px;
  }

  .subscription_titles {
    margin-bottom: 0;
    width: fit-content;
  }

  .subscription_form {
    margin-bottom: 7px;
  }

  .subscription_btn {
    flex: 0;
    padding: 0 30px;
  }

  /* ######################### */
  /* Footer */
  .footer_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 40px;
  }
}

@media (min-width: 768px) {
  /* ######################### */
  /* Header */
  header {
    height: 95px;
  }

  .menu_wrapper {
    display: flex;
    width: 100%;
  }

  .header_menu {
    width: 100%;
    padding: 0;
  }

  .header_menu > div {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .menu ul {
    flex-flow: row;
    gap: 35px;
  }

  .menu a {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* social */
  .menu_social {
    margin-top: 0;
  }
  .menu_social-fb {
    width: 10.98px;
    height: 24.81px;
  }
  .menu_social-ig {
    width: 24.81px;
    height: 24.81px;
  }
  .menu_social-tw {
    width: 23.47px;
    height: 18.78px;
  }

  .header_wrapper > .container,
  #btn_menu {
    display: none !important;
  }

  /* ######################### */
  /* Drop */
  .secDrop .container {
    gap: 50px;
  }

  /* ######################### */
  /* Hero */
  .hero_wrapper {
    display: flex;
  }

  .hero_item {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .hero_content {
    width: 100%;
    max-width: 90%;
    padding: 0;
    margin-right: 10%;
    padding-left: 10%;
  }

  .hero_item:first-child {
    align-items: flex-end;
  }
  .hero_item:first-child .hero_content {
    margin-left: 10%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 10%;
  }

  .hero .title {
    max-width: 80%;
  }
}

@media (min-width: 820px) {
  /* ######################### */
  /* Footer */
  .footer_image {
    max-width: 246px;
  }
}

/* ################################ */
/* ################################ */
/* Desktop */
@media (min-width: 1050px) {
  /* ######################### */
  /* Header */
  header {
    height: 151px;
  }

  /* manu */
  .menu ul {
    gap: 76px;
  }
  .menu a {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  /* ######################### */
  /* Hero */
  .hero_item {
    height: 800px;
  }

  .hero .title {
    max-width: 90%;
  }

  .hero_link {
    font-size: 2.1rem;
    line-height: 3.2rem;
    padding: 17px 40px;
  }

  /* ######################### */
  /* About */
  .about {
    padding: 92px 0 88px;
  }

  .about_wrapper {
    gap: 60px;
  }

  /* ######################### */
  /* Drop */
  .secDrop {
    padding: 100px 0;
  }

  .dropItem p,
  .dropItem_label {
    font-size: 1.9rem;
    line-height: 2.4rem;
  }

  .secDrop .container {
    gap: 130px;
  }

  /* ######################### */
  /* Subscription */
  .subscription_wrapper {
    max-width: 100%;
    gap: 15px;
  }

  .subscription_subTitle {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
  .subscription_title {
    font-size: 4.5rem;
    line-height: 6.8rem;
  }

  .subscription_form {
    margin-bottom: 20px;
    gap: 15px;
  }

  .subscription_input {
    font-size: 1.8rem;
    line-height: 0.7rem;
  }
  .subscription_btn {
    padding: 16px 63px;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  /* ######################### */
  /* Contact */
  .contact {
    padding: 66px 0 108px;
  }

  .contact_wrapper {
    max-width: 705px;
  }

  .contact_title {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  /* ######################### */
  /* Footer */
  .footer_image {
    max-width: 296px;
  }

  /* Menu */
  .footer_menu {
    gap: 4px 100px;
  }
  .footer_menu a {
    font-size: 2rem;
    line-height: 3rem;
  }

  /* Social networks */
  .footer_social {
    gap: 65px;
  }
  .footer_social-fb {
    width: 15.35px;
    height: 34.71px;
  }
  .footer_social-ig {
    width: 34.71px;
    height: 34.71px;
  }
  .footer_social-tw {
    width: 32.84px;
    height: 26.27px;
  }
}

@media (min-width: 1569px) {
  .hero_content {
    max-width: 707px;
  }
}
